<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="password-recovery.component.css">
  <title>Password-recovery - CampusRide</title>
</head>

<body>
  <app-header></app-header> <!-- Encabezado común para todas las páginas -->
  <main class="password-recovery-container">
    <div class="image-container">
      <img src="assets/images/fondologin.png" alt="Fondo" class="background-image">
    </div>
    <div class="password-recovery-box">
      <h1 class="title">CAMPUSRIDE</h1>
      <h2 class="password-recovery-header" *ngIf="!showVerification">RECUPERAR CONTRASEÑA</h2>
      <p class="password-recovery-subtitulo" *ngIf="!showVerification">
        Ingresa el correo electrónico asociado a tu cuenta y te enviaremos un código
        de verificación para restablecer tu contraseña.
      </p>

      <!-- Formulario de correo -->
      <div *ngIf="!showVerification">
        <form [formGroup]="recovery" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" formControlName="correo" placeholder="Ingresa tu correo" required>
            <div *ngIf="recovery.get('correo')?.invalid && (recovery.get('correo')?.touched || recoverySubmitted)">
              <small class="error-message">Por favor, ingresa un correo válido.</small>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="bt">Enviar código</button>
          </div>
        </form>
      </div>

      <!-- Formulario de código de verificación -->
      <div *ngIf="showVerification">
        <form [formGroup]="verification" (ngSubmit)="onVerifyCode()">
          <div class="form-group">
            <p class="password-recovery-subtitulo">
              Ingresa el código de verificación que te enviamos por correo electrónico.
            </p>
            <label for="code">Código de verificación</label>
            <input type="text" id="code" placeholder="Ingresa el código" formControlName="codigo_verificacion" required>
            <div *ngIf="verification.get('codigo_verificacion')?.invalid && verificationCodeSubmitted">
              <small class="error-message">Por favor, ingresa el código de verificación.</small>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="bt">Verificar código</button>
          </div>
        </form>
      </div>
    </div>
  </main>
  <app-footer></app-footer> <!-- Pie de página común para todas las páginas -->
</body>
</html>
