<footer class="w-100  d-flex align-items-center justify-content-center">
    <section><p class="fs-5 px-3  pt-3">Campus Ride UV &copy; Todos Los Derechos Reservados 2024 <br> Tuluá - Valle del Cauca</p>
    </section>
    
    <div id="iconos">
        <a href="https://www.instagram.com/campusride__?igsh=YnUzNHZ6OWtqNWh5&utm_source=qr" target="_blank"> <i class="bi bi-instagram"></i> </a> 
        <a href="https://www.facebook.com/share/K59oGcWYNtk6UqET/?mibextid=LQQJ4d" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://wa.link/y4fvsa" target="_blank"><i class="bi bi-whatsapp"></i></a>
   
    </div>
  </footer>