<!-- <div class="loading-map d-flex justify-content-center align-items-center">
  <div class="test-center">
    <label>Espere por favor...</label>
  </div>
</div> -->

<div class="loading-map d-flex justify-content-center align-items-center min-vh-100">
  <div class="content-container">
    <div class="typing-indicator">
      <div class="typing-circle"></div>
      <div class="typing-circle"></div>
      <div class="typing-circle"></div>
      <div class="typing-shadow"></div>
      <div class="typing-shadow"></div>
      <div class="typing-shadow"></div>
    </div>
    <label class="geolocalizando-label">Geolocalizando...</label>
  </div>
</div>
