<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="registro.component.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <title>Registro - CampusRide</title>
</head>
<body>
  <app-header></app-header>
  <main class="registro-container">
    <div class="registro-box">
      <h1 class="title">CAMPUSRIDE</h1>


      <div class="opcion-group">
        <label class="tipo-label">Seleccione el tipo de usuario que deseas registrarte</label>
        <!-- Grupo de botones de radio para elegir entre 'Usuario' y 'Conductor' -->

          <div class="radio-input">
            <label>
              <input type="radio" id="value-1" name="value-radio" value="usuario" (change)="onUserTypeChange('usuario')" checked >
              <span>Usuario</span>
            </label>
            <label>
              <input type="radio" id="value-2" name="value-radio" value="conductor" (change)="onUserTypeChange('conductor')">
              <span>Conductor</span>
            </label>
            <span class="selection"></span>
          </div>
      </div>


      <form [formGroup]="agregarUsuario" (ngSubmit)="onSubmit()">


        <div class="form-row">
          <div class="form-group">
            <label for="id">Número de Identificación</label>
            <input type="text" id="id" formControlName="id" placeholder="Ingresa tu número de identificación" required>
            <div *ngIf="agregarUsuario.get('id')?.invalid && (agregarUsuario.get('id')?.touched || agregarUsuario.get('id')?.dirty)">
              <small class="error">El número de identificación es obligatorio.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="genero">Tipo de género</label>
            <div class="container">
              <div class="tabs">
                <input type="radio" id="radio-masculino" name="genero" [value]="'Masculino'" formControlName="genero" required>
                <label class="tab" for="radio-masculino">Masculino</label>

                <input type="radio" id="radio-femenino" name="genero" [value]="'Femenino'" formControlName="genero" required>
                <label class="tab" for="radio-femenino">Femenino</label>


                <span class="glider"></span>
              </div>
            </div>



          </div>
        </div>


        <div class="form-row">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" formControlName="nombre" placeholder="Ingresa tu nombre" required>
            <div *ngIf="agregarUsuario.get('nombre')?.invalid && (agregarUsuario.get('nombre')?.touched || agregarUsuario.get('nombre')?.dirty)">
              <small class="error">El nombre es obligatorio.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" formControlName="apellido" placeholder="Ingresa tu apellido" required>
            <div *ngIf="agregarUsuario.get('apellido')?.invalid && (agregarUsuario.get('apellido')?.touched || agregarUsuario.get('apellido')?.dirty)">
              <small class="error">El apellido es obligatorio.</small>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="correo">Correo electrónico</label>
            <input type="email" id="correo" formControlName="correo" placeholder="info@xyz.com" required>
            <div *ngIf="agregarUsuario.get('correo')?.invalid && (agregarUsuario.get('correo')?.touched || agregarUsuario.get('correo')?.dirty)">
              <small class="error" *ngIf="agregarUsuario.get('correo')?.errors?.['required']">El correo es obligatorio.</small>
              <small class="error" *ngIf="agregarUsuario.get('correo')?.errors?.['email']">El formato del correo no es válido.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="telefono">Número de teléfono</label>
            <input type="tel" id="telefono" formControlName="telefono" placeholder="+57 315 564 7526" required>
            <div *ngIf="agregarUsuario.get('telefono')?.invalid && (agregarUsuario.get('telefono')?.touched || agregarUsuario.get('telefono')?.dirty)">
              <small class="error">El número de teléfono es obligatorio.</small>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" id="direccion" formControlName="direccion" placeholder="Ingresa tu dirección" required>
            <div *ngIf="agregarUsuario.get('direccion')?.invalid && (agregarUsuario.get('direccion')?.touched || agregarUsuario.get('direccion')?.dirty)">
              <small class="error">La dirección es obligatoria.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="fecha_nacimiento">Fecha de nacimiento</label>
            <input type="date" id="fecha_nacimiento" formControlName="fecha_nacimiento" required>
            <div *ngIf="agregarUsuario.get('fechaNacimiento')?.invalid && (agregarUsuario.get('fecha_nacimiento')?.touched || agregarUsuario.get('fecha_nacimiento')?.dirty)">
              <small class="error">La fecha de nacimiento es obligatoria.</small>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="contraseña">Contraseña</label>
            <div class="password-container">
              <input
                [type]="isPasswordVisible ? 'text' : 'password'"
                id="contraseña"
                formControlName="contraseña"
                placeholder="Ingresa tu contraseña"
                required>
              <img
                src="assets/images/ojo_cerrado.webp"
                class="toggle-password"
                alt="Mostrar/Ocultar Contraseña"
                (click)="togglePasswordVisibility()"
                [src]="isPasswordVisible ? 'assets/images/ojo_abierto.webp' : 'assets/images/ojo_cerrado.webp'">
            </div>
            <div *ngIf="agregarUsuario.get('contraseña')?.invalid && (agregarUsuario.get('contraseña')?.touched || agregarUsuario.get('contraseña')?.dirty)">
              <small class="error" *ngIf="agregarUsuario.get('contraseña')?.errors?.['required']">La contraseña es obligatoria.</small>
              <small class="error" *ngIf="agregarUsuario.get('contraseña')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmar-contraseña">Confirmar Contraseña</label>
            <div class="password-container">
              <input
                [type]="isPasswordVisible ? 'text' : 'password'"
                id="confirmar-contraseña"
                formControlName="confirmarContraseña"
                placeholder="Confirma tu contraseña"
                required>
              <img
                src="assets/images/ojo_cerrado.webp"
                class="toggle-password"
                alt="Mostrar/Ocultar Contraseña"
                (click)="togglePasswordVisibility()"
                [src]="isPasswordVisible ? 'assets/images/ojo_abierto.webp' : 'assets/images/ojo_cerrado.webp'">
            </div>
            <div *ngIf="agregarUsuario.get('confirmarContraseña')?.invalid && (agregarUsuario.get('confirmarContraseña')?.touched || agregarUsuario.get('confirmarContraseña')?.dirty)">
              <small class="error">Debes confirmar tu contraseña.</small>
            </div>
          </div>
        </div>

          <!-- Campos adicionales del conductor (se mostrarán si el tipo de usuario es 'conductor') -->
          <div *ngIf="tipoUsuario === 'conductor'">
            <div class="divider"></div>
            <h1 class="title">Licencia</h1>
            <div class="form-row">
              <div class="form-group">
                <label for="numero_licencia">Número de licencia</label>
                <input type="text" id="numero_licencia" formControlName="numero_licencia" placeholder="Ingresa tu número de licencia">
              </div>
              <div class="form-group">
                <label for="fecha-vencimiento">Fecha de vencimiento</label>
                <input type="date" id="fecha-vencimiento" formControlName="fecha_vencimiento" required>
                <div *ngIf="agregarUsuario.get('fecha_vencimiento')?.invalid && (agregarUsuario.get('fecha_vencimiento')?.touched || agregarUsuario.get('fecha_vencimiento')?.dirty)">
                  <small class="error">La fecha de vencimiento es obligatoria.</small>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <h1 class="title">Vehiculo</h1>
            <div class="form-row">
              <div class="form-group">
                <label for="id_placa">Número Placa</label>
                <input type="text" id="id_placa" formControlName="id_placa" placeholder="Ingresa el ID de la placa" required>
                <div *ngIf="agregarUsuario.get('id_placa')?.invalid && (agregarUsuario.get('id_placa')?.touched || agregarUsuario.get('id_placa')?.dirty)">
                  <small class="error">El número de la placa es obligatorio.</small>
                </div>
              </div>
              <div class="form-group">
                <label for="marca">Marca</label>
                <input type="text" id="marca" formControlName="marca" placeholder="Ingresa la marca del vehículo" required>
                <div *ngIf="agregarUsuario.get('marca')?.invalid && (agregarUsuario.get('marca')?.touched || agregarUsuario.get('marca')?.dirty)">
                  <small class="error">La marca del vehículo es obligatoria.</small>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="modelo">Modelo</label>
                <input type="text" id="modelo" formControlName="modelo" placeholder="Ingresa el modelo del vehículo" required>
                <div *ngIf="agregarUsuario.get('modelo')?.invalid && (agregarUsuario.get('modelo')?.touched || agregarUsuario.get('modelo')?.dirty)">
                  <small class="error">El modelo del vehículo es obligatorio.</small>
                </div>
              </div>

              <div class="form-group">
                <label for="ano">Año</label>
                <input type="text" id="ano" formControlName="ano" placeholder="Ingresa el año" required minlength="4" maxlength="4">

                <div *ngIf="agregarUsuario.get('ano')?.invalid && (agregarUsuario.get('ano')?.touched || agregarUsuario.get('ano')?.dirty)">
                  <small class="error" *ngIf="agregarUsuario.get('ano')?.errors?.['required']">El año es obligatorio.</small>
                  <small class="error" *ngIf="agregarUsuario.get('ano')?.errors?.['min']">El año no puede ser anterior a 1900.</small>
                  <small class="error" *ngIf="agregarUsuario.get('ano')?.errors?.['max']">El año no puede ser mayor que el año actual.</small>
                </div>
              </div>



            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="color">Color</label>
                <input type="text" id="color" formControlName="color" placeholder="Ingresa el color del vehículo" required>
                <div *ngIf="agregarUsuario.get('color')?.invalid && (agregarUsuario.get('color')?.touched || agregarUsuario.get('color')?.dirty)">
                  <small class="error">El color del vehículo es obligatorio.</small>
                </div>
              </div>
              <div class="form-group">
                <label for="capacidad_pasajeros">Capacidad de Pasajeros</label>
                <input type="text" id="capacidad_pasajeros" formControlName="capacidad_pasajeros" placeholder="Ingresa la capacidad de pasajeros" required>
                <div *ngIf="agregarUsuario.get('capacidad_pasajeros')?.invalid && (agregarUsuario.get('capacidad_pasajeros')?.touched || agregarUsuario.get('capacidad_pasajeros')?.dirty)">
                  <small class="error">La capacidad de pasajeros es obligatoria.</small>
                </div>

              </div>
            </div>
            <!-- archivos-->
            <div class="divider"></div>
            <h1 class="title">Archivos</h1>
            <div class="form-row">
              <div class="form-group">
                <label>Ingrese Foto de Perfil </label>
                <button class="container-btn-file">
                  <img src="assets/images/avatar.webp" alt="perfil Icon">
                  <span>Subir</span>
                  <input class="file" name="text" type="file"/>
                </button>
                <label>Ingrese Foto de la Licencia por Lado y Lado</label>
                <button class="container-btn-file">
                  <img src="assets/images/documento.webp" alt="perfil Icon">
                  <span style="white-space: nowrap;">Subir PDF</span> <!-- Envuelve el texto en un span -->
                  <input class="file" name="text" type="file" accept=".pdf" />
                </button>
                <label>Ingrese Foto de la Tarjeta de Propiedad por Lado y Lado</label>
                <button class="container-btn-file">
                  <img src="assets/images/documento.webp" alt="perfil Icon">
                  <span style="white-space: nowrap;">Subir PDF</span> <!-- Envuelve el texto en un span -->
                  <input class="file" name="text" type="file" accept=".pdf" />
                </button>
                <label>Ingrese Foto de la Cédula por Lado y Lado</label>
                <button class="container-btn-file">
                  <img src="assets/images/documento.webp" alt="perfil Icon">
                  <span style="white-space: nowrap;">Subir PDF</span> <!-- Envuelve el texto en un span -->
                  <input class="file" name="text" type="file" accept=".pdf" />
                </button>
              </div>
              <div class="divider"></div>


            </div>
            <div class="divider"></div>
            <!-- fin conductor-->
          </div>


        <div class="form-group">
          <button type="submit" class="registarsebtn">Registrarse</button>
        </div>
        <p>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
      </form>
    </div>
    <img src="assets/images/fondoRegistro.webp" alt="registro" class="imagen-container">
  </main>
  <app-footer></app-footer>
</body>
</html>
