body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.registro-container {
  display: flex;
  height: calc(100vh - 118px);
  width: 100%;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 20px; /* Añadir algo de padding para evitar que se pegue a los bordes en pantallas pequeñas */
}

/* Caja de registro */
.registro-box {
  background: white;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.10);
  border-radius: 20px;
  padding: 35px; /* Aumentar el padding general */
  width: 80%;
  max-width: 600px; /* Limitar el ancho máximo */
  max-height: 80vh; /* Altura máxima en función de la altura visible */
  overflow-y: auto; /* Habilitar scroll vertical si el contenido es más grande */
  z-index: 1;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el contenido */
  order: 1; /* Orden del formulario */
  flex: 1;
}

/* Personalización opcional de la barra de scroll */
.registro-box::-webkit-scrollbar {
  width: 8px;
}

.registro-box::-webkit-scrollbar-thumb {
  background-color: #185ee0; /* Color de la barra de desplazamiento */
  border-radius: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between; /* Espacia las columnas */
  margin-bottom: 20px; /* Espacio entre filas */
}

.form-group {
  flex: 1; /* Hace que cada columna ocupe el mismo espacio */
  margin-right: 15px; /* Espacio entre columnas */
}

.form-group:last-child {
  margin-right: 0; /* Elimina el margen derecho en la última columna */
}

label {
  display: block;
  margin-bottom: 5px;
  color: #6C6C6C;
  font-size: 14px;
}


/* Estilo para el título de registro */
.title {
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  border-left: 4px solid #35C5DE;
  padding-left: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"] {
  width: 100%; /* Asegura que todos los inputs ocupen el 100% del ancho */
  padding: 10px; /* Espacio interno */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde suave */
  font-size: 14px; /* Tamaño de fuente uniforme */
  font-family: 'Montserrat', sans-serif; /* Fuente consistente */
  font-weight: 500; /* Peso de fuente */
  color: #6C6C6C;
}

/* Botón */
.bt {
  background-color: #35C5DED9;
  width: 100%;
  height: 40px; /* Ajusté la altura para mejor apariencia */
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border: none;
}

.bt:hover {
  background-color: #355AED; /* Color del botón en hover */
  color: #ffffff;
}

p {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}

a {
  color: #355AED;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Registrarte */
.registrarte {
  text-align: center;
  margin-top: 20px;
}

.registrarte a {
  color: #355ADE;
  font-size: 14px;
  font-weight: 500;
}

/* Imagen */
.imagen-container {
  width: 50%; /* 50% del ancho */
  height: 100%;
  overflow: hidden; /* Oculta el contenido que se desborda */
  position: relative; /* Posición relativa para el contenido */
  order: 2; /* Orden de la imagen */
  flex: 1;
}

.imagen-container img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el área */
}

.password-container {
  position: relative;
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px; /* Ajusta el tamaño según sea necesario */
  height: 20px; /* Ajusta el tamaño según sea necesario */
}

.opcion-group{
  display: flex; /* Hace que el contenido se muestre en fila */
  align-items: center; /* Alinea verticalmente */
}

.tipo-label {
  margin-bottom: -36px;
  padding-left: 56px;
}

/* ------------------------------------------------------------------*/ 

.radio-input input {
  display: none;
}

.radio-input {
  --container_width: 165px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  color: #000000;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
  margin-left: 25px;
  top: 17px;
}

.radio-input label {
  width: 100%;
  padding: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 15px;
  margin-left: -8px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 2);
  z-index: 0;
  left: 0;
  top: 0;
  transition: .15s ease;
}

.radio-input label:has(input:checked) {
  color: #fff;
}

.radio-input label:has(input:checked) ~ .selection {
  background-color: rgb(11 117 223);
  display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0/2));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1/2));
}

/* ------------------------------------------------------------------*/ 

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 99px;
  width: 200px; /* Ajuste el tamaño para dos opciones */
}

.tabs * {
  z-index: 2;
}

.container input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 100px; /* Ajuste el ancho de los radios */
  font-size: .9rem;
  color: #6C6C6C;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.container input[type="radio"]:checked + label {
  color: #185ee0;
}

.container input[id="radio-masculino"]:checked ~ .glider {
  transform: translateX(0);
}

.container input[id="radio-femenino"]:checked ~ .glider {
  transform: translateX(100%);
}

.glider {
  position: absolute;
  display: flex;
  height: 25px;
  width: 88px; /* Ajuste para abarcar solo dos opciones */
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out,opacity 0.25s ease-out;
  opacity: 0.5;
  border: 1px solid #185ee0;
  top: 5px;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.8); /* Reducir ligeramente en pantallas pequeñas */
  }
}

/* ------------------------------------------------------------------*/ 
.container-btn-file {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #185ee0;
  color: #fff;
  border-style: none;
  padding: 10px 33px;
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 1;
  box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
  transition: all 250ms;
}
.container-btn-file input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.container-btn-file > svg {
  margin-right: 1em;
}
.container-btn-file::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: 0.5em;
  background-color: #4a71f1;
  z-index: -1;
  transition: all 350ms;
}
.container-btn-file:hover::before {
  width: 100%;
}

/* ------------------------------------------------------------------*/ 
 
.number-control {
  display: flex;
  align-items: center;
}

.number-left::before,
.number-right::after {
  content: attr(data-content);
  background-color: #185ee0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #185ee0;
  width: 31px;
  color: white;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-bottom: -33px;
  height: 34px;
}

.number-left::before {
  content: "-";
}

.number-right::after {
  content: "+";
}

.number-quantity {
  padding: 0.25rem;
  border: 0;
  width: 196px;
  -moz-appearance: textfield;
  border-top: 1px solid #185ee0;
  border-bottom: 1px solid #185ee0;
  margin-bottom: -33px;
}

.number-left:hover::before,
.number-right:hover::after {
  background-color: #5c82ff;
}

