<header class="header">
  <div class="header-left">
    <div class="header-logo-container">
      <a routerLink="/home">
        <img src="assets/images/logo.webp" alt="CampusRide" class="header-logo" width="80" height="90">
      </a>
    </div>

    <nav class="header-content">
      <div class="header-item">
        <div class="login-text2">Ayuda</div>
      </div>
      <div class="header-item">
        <div class="login-text2">Contactanos</div>
      </div>
      <div class="header-item">
        <div class="login-text2">Comunidad</div>
      </div>
      <div class="header-item">
        <div class="login-text2">Quienes somos</div>
      </div>
    </nav>
  </div>
  <div class="header-right">
    <div class="header-item">
      <a routerLink="/login" class="login-text2">Iniciar sesión</a>
    </div>
    <div class="header-item">
      <a routerLink="/registro" class="login-text">Registrarse</a>
    </div>
  </div>
</header>
