.header-logo {
    width: 90 px;
    height: 90px;
    transition: all 2 s;
}
.header {
    display: flex;
    width: 100%;
    height: 80px;
    padding-top: 5 px;
}

.header-logo {
    cursor: pointer;
}

.header-logo:hover {
    transform: scale(1.1);
}

.header-item:hover {
    transform: scale(1.1);
}