/* Página de establecer nueva contraseña */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Contenedor principal */
.newpassword-container {
  position: relative;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Contenedor de la imagen */
.image-container { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Imagen de fondo */
.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Caja de establecer nueva contraseña */
.newpassword-box {
background: white;
box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.10);
border-radius: 20px;
padding: 20px 40px;
width: 90%;
max-width: 400px;
z-index: 1;
}

/* Encabezado de establecer nueva contraseña */
.newpassword-header {
color: black;
font-size: 14px;
font-weight: 600;
text-transform: uppercase;
margin-bottom: 10px;
text-align: center;
}

/* Subtítulo de establecer nueva contraseña */
.newpassword-subtitulo {
color: #6C6C6C;
font-size: 11px;
font-weight: 500;
margin-bottom: 20px;
}

/* Formulario de establecer nueva contraseña */
.newpassword-form {
display: flex;
flex-direction: column;
}

/* Grupo de formulario */
.form-group {
margin-bottom: 15px;
width: 100%;
}

label {
display: block;
margin-bottom: 5px;
color: #6C6C6C;
font-size: 14px;
}

input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}


.password-container {
  position: relative;
  width: 100%;
}

/* Icono de mostrar/ocultar contraseña */
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px; /* Ajusta el tamaño según sea necesario */
  height: 20px; /* Ajusta el tamaño según sea necesario */
}

p {
margin-top: 10px;
font-size: 12px;
text-align: center;
}

a {
color: #8450E1;
text-decoration: none;
}
