<header class="header">
  <div class="header-left">
    <div class="header-logo-container">
      <a routerLink="/home">
        <img src="assets/images/logo.webp" alt="CampusRide" class="header-logo" width="80" height="90">
      </a>
    </div>

    <nav class="header-content">
      <div class="header-item">
        <div class="login-text2">
          <span class="material-icons">map</span>
          <a routerLink="/inicio-conductor">Viajar</a>
        </div>
      </div>
      <div class="header-item">
        <div class="login-text2" routerLink="/rating-history"><span class="material-icons">star</span>Calificaciones</div>
      </div>
      <div class="header-item">
        <div class="login-text2"><span class="material-icons">info</span>Información</div>
      </div>
      <div class="header-item">
        <div class="login-text2"><span class="material-icons">help</span>Ayuda</div>
      </div>
      
    </nav>
  </div>

  <div class="header-right">
    <div class="dropdown">
      <button class="dropbtn">
        <img [src]="fullName === 'Carlos Camacho' ? 'assets/images/carlos1.webp' : 'assets/images/avatar.webp'" alt="avatar" width="32" height="32" class="avatar">
        <span>{{ fullName }}</span>
        <span class="material-icons">expand_more</span>
      </button>
      <div class="dropdown-content">
          <a href="/edit-driver"><span class="material-icons">manage_accounts</span> Administrar perfil</a>
          <a href="/vehicle-view"><span class="material-icons">two_wheeler</span> Administrar vehiculo</a>
          <a href="#"><span class="material-icons">history</span> Registro de viajes</a>
          <a href="#"><span class="material-icons">account_balance_wallet</span> Wallet</a>
          <div class="separator"></div>
          <a href="#"><span class="material-icons">exit_to_app</span> Cerrar sesión</a>
      </div>
    </div>
  </div>
</header>
