.header {
  display: flex;
  width: 100%;
  height: 80px;
  padding-top: 5px;
  color: #7145d6;
  background-color: #cdbef1;
}

.header-logo {
  width: 75px;
  height: 75px;
  transition: all 2s;
  cursor: pointer;
}

.header-logo:hover {
  transform: scale(1.1);
}

.header-left .header-content .header-item .login-text2 {
  background: #cdbef1;
  color: #292929;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-left .header-content .header-item .login-text2:hover {
  background: #7145d6;
  color: #ffffff;
}

.material-icons {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: #292929;
}

.dropbtn {
  background-color: #cdbef1;
  color: #292929;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  right: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #333333;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.separator {
  border-top: 1px solid #e0e0e0;
  margin: 5px 0;
}

.dropdown-content a:last-child {
  color: #ff0000;
}

/* Eliminar subrayado y cambiar el color de los enlaces */
a {
  text-decoration: none;  /* Eliminar subrayado */
  color: #292929;         /* Color del texto (puedes cambiarlo al color que desees) */
}

/* Cambiar el color cuando el enlace está en foco o cuando se pasa el ratón */
a:hover {
  color: #f1f1f1;         /* Color cuando pasa el ratón */
}

/* Cambiar el color cuando el enlace está activo (haciendo clic) */
a:active {
  color: #f1f1f1;         /* Color cuando se hace clic */
}
