.button {
  width: 110px;       /* Reducir el ancho del botón */
  height: 30px;      /* Reducir la altura del botón */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;          /* Reducir el espacio entre el SVG y el texto */
  background-color: #dcf309;
  border-radius: 20px; /* Reducir el radio del borde para que se vea más pequeño */
  color: rgb(19, 19, 19);
  font-weight: 500;    /* Reducir el peso de la fuente */
  font-size: 12px;     /* Reducir el tamaño de la fuente */
  position: absolute;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 6px;   /* Reducir el padding izquierdo */
  transition-duration: .5s;
  bottom: 450px; /* Mantener la posición desde el borde inferior */
  right: 110px;  /* Mantener la posición desde el borde derecho */
}

.svgIcon {
  height: 16px;      /* Reducir el tamaño del icono SVG */
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.button:hover {
  background-color: #c2bf0d;
  transition-duration: .5s;
}

.button:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.button:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}
