<header class="header">
  <div class="header-left">
    <div class="header-logo-container">
      <a routerLink="/home">
        <img src="assets/images/logo.webp" alt="CampusRide" class="header-logo" width="80" height="90">
      </a>
    </div>

    <nav class="header-content">
      <div class="header-item">
        <div class="login-text2">
          <span class="material-icons">map</span>
          <a routerLink="/inicio-pasajero">Viajar</a>
        </div>
      </div>

      <div class="header-item">
        <div class="login-text2"><span class="material-icons">local_offer</span>Codigos promocionales</div>
      </div>
      <div class="header-item">
        <div class="login-text2"><span class="material-icons">info</span>Información</div>
      </div>
      <div class="header-item">
        <div class="login-text2"><span class="material-icons">help</span>Ayuda</div>
      </div>
    </nav>
  </div>

  <div class="header-right">
    <div class="dropdown">
      <button class="dropbtn">
        <img src="assets/images/avatar.webp" alt="Avatar" class="avatar-icon">
        <span>{{ fullName }}</span>
        <span class="material-icons">expand_more</span>
      </button>
      <div class="dropdown-content">
        <a href="/edit-passenger"><span class="material-icons">manage_accounts</span> Administrar perfil</a>
        <a href="/travel-history-passenger"><span class="material-icons">history</span> Registro de viajes</a>
        <a href="/wallet"><span class="material-icons">account_balance_wallet</span> Wallet</a>
        <a href="#"><span class="material-icons">settings</span> Configuración</a>
        <div class="separator"></div>
        <a href="#"><span class="material-icons">exit_to_app</span> Cerrar sesión</a>
      </div>
    </div>
  </div>
</header>
