.wallet-container {
    position: relative;
    height: calc(100vh - 60px); /* Altura del viewport menos un posible header */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; /* Color de fondo opcional */
  }

  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Mantén la imagen detrás del contenido */
  }
  
  .modal {
    display: flex;
    top: 50%; /* Posición vertical al 50% */
    left: 50%; /* Posición horizontal al 50% */
    position: absolute;
    transform: translate(-50%, -50%); /* Centra el elemento ajustando el eje */
    width: fit-content;
    height: fit-content;
    background: #ffffff;
    box-shadow:
      0px 187px 75px rgba(0, 0, 0, 0.01),
      0px 105px 63px rgba(0, 0, 0, 0.05),
      0px 47px 47px rgba(0, 0, 0, 0.09),
      0px 12px 26px rgba(0, 0, 0, 0.1),
      0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    max-width: 450px;
    z-index: 9999; /* Asegúrate de que esté sobre otros elementos */
}

/* Formulario principal */
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

/* Opciones de pago */
.payment--options {
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 33% 34% 33%;
    gap: 20px;
    padding: 10px;
}

/* Botones de las opciones de pago */
.payment--options button {
    height: 55px;
    background: #dadada;
    border-radius: 11px;
    padding: 0;
    border: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment--options button svg {
    height: 18px;
}

.payment--options button:last-child svg {
    height: 22px;
}

/* Separador */
.separator {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    color: #73767e;
    margin: 0 10px;
}

.separator > p {
    word-break: keep-all;
    display: block;
    padding-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    margin: auto;
}

.separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #9f9f9f;
    margin: auto;
}

/* Formulario de información de tarjeta */
.credit-card-info--form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Contenedor de campos de entrada */
.input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Diseño de columnas para entradas */
.split {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
}

/* Entrada de texto */
.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #f2f2f2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

/* Etiquetas de entrada */
.input_label {
    font-size: 10px;
    color: #70727a;
    font-weight: 600;
}

/* Botón de compra */
.purchase--btn {
    height: 55px;
    background: #f2f2f2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    background: linear-gradient(180deg, #363636 0%, #1b1b1b 50%, #000000 100%);
    box-shadow:
      0px 0px 0px 0px #ffffff,
      0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
    box-shadow:
      0px 0px 0px 2px #ffffff,
      0px 0px 0px 4px #0000003a;
}

/* Reset de estilo de número */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input_field[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
