
<div class="header">
  <div class="header-content">
    <div class="header-item">
      <div class="header-text">Productos</div>
    </div>
    <div class="header-item">
      <div class="header-text">Empresa</div>
    </div>
    <div class="header-item">
      <div class="header-text">Precios</div>
    </div>
    <div class="header-item">
      <div class="header-text">Comunidad</div>
    </div>
    <div class="header-item">
      <div class="header-text">Quienes somos</div>
    </div>
    <div class="header-item login-text">
      <div class="header-text">Registrarse</div>
    </div>
  </div>
</div>

<div class="login-container">
  <div class="login-box">
    <div class="title">
      CAMPUSRIDE
    </div>
    <div class="login-header">
      <label>INICIAR SESION</label>
    </div>
    <div class="login-subtitulo">
      Ingrese sus credenciales para acceder a su cuenta
    </div>

    <form>
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email" placeholder="Ingresa tu correo" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>
      </div>
      <p>¿Olvidaste tu contraseña? <a href="#">Restablecer contraseña</a></p>
      <div class="form-group">
        <button type="submit" class="btn">Iniciar sesión</button>
      </div>
    </form>
  <div class="registrarte">
    <a href="#">Registrarte</a>
  </div>

  </div>
</div>

