-webkit- *{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ajusta el tamaño de los elementos para que no se desborden */
}


body{
  background: #ffffff;

}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 150px;
  color: #000;
  font-family: 'droid-sans', sans-serif;

}

.bike-body{
  width: 250px;
  height: 108px;
  position: relative;
  left: -20px;
  top: 3px;
  z-index: 1;
}

.bike-body .seat{
  width: 30px;
  height: 30px;
  background: radial-gradient(circle at right top, rgba(248,80,50,0)0%,
    rgba(241,111,92,0)50%, rgba(246,41,12,0)51%,
    rgba(242,45,190,0)64%, #434b59 65%, #434b59 71%, #434b59 100%);
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-40deg);
  position: absolute;
  top: 64px;
  left: 65px;

}

.bike-body .seat::before{
  content: "";
  display: block;
  width: 9px;
  height: 35px;
  position: relative;
  top: -2px;
  left: -4px;
  background: #434b59;
  border-radius: 5px;

}

.bike-body .seat::after{
  content: "";
  display: block;
  width: 35px;
  height: 9px;
  position: relative;
  top: -10px;
  left: -4px;
  background: #434b59;
  border-radius: 5px;

}

.bike-body .cover{
  width: 75px;
  height: 30px;
  background: #7145e6;
  position: absolute;
  top: 55px;
  left: 105px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 110px 20px 15px 5px/ 50px 20px 20px 5px;
  z-index: 11;
  box-shadow: inset -5px -2px 0px 2px rgba(0, 0, 0, .2);

}

.bike-body .lamp{
  width: 25px;
  height: 25px;
  background: -webkit-gradient(linear, left top, right top, color-stop(65%, #434b59), color-stop(35%, #ffdd4d));
  background: linear-gradient(90deg, #434b59 65%, #ffdd4d 35%);
  border-radius: 70px 60px 60px 50px/40px 60px 60px 15px;
  position: relative;
  top: 60px;
  right: -185px;

}

.bike-body .motor{
  width: 75px;
  height: 45px;
  position: absolute;
  left: 90px;
  top: 90px;
}

.part-1{
  width: 35px;
  height: 45px;
  display: inline-block;

}

.part-1-top{
  width: 40px;
  height: 20px;
  background: linear-gradient(135deg, transparent 10px, #8450e1 0);
  border-radius: 0 px 5px 5px;
  box-shadow: inset -25px -2px 0px 1px rgba(0,0,0,.2);
}

.part-1-bottom{
  width: 35px;
  height: 17px;
  background: #829399;
  position: relative;
  top: 5px;
  border-radius: 5px;

}
.part-1-bottom::after{
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #829399;
  border: 3px solid #a2b1b7;
  position: relative;
  left: 13px;
  top: -3px;
}

.part-2{
  width: 30px;
  height: 45px;
  display: inline-block;
  animation: shake 0.1s infinite;
}

.part-2-base {
  width: 25px;
  height: 33px;
  background: #a4b4ba;
  margin: auto;
  position: relative;
  top: 5px;
  left: 5px;
  border-radius: 15px;
}

.line {
  position: relative;
  margin: auto ;
  width: 105%;
  left: -2px;
  top: -2px;
  height: 4px;
  background: #829399;
  margin-bottom: 6px;
  border-radius: 3px;
}

.line:nth-child(1){
  height: 6px;
  background: #434b59;
  top:0;
}

.front{
  position: absolute;
  width: 10px;
  height: 100px;
  background: #aababf;
  transform: rotateZ(-30deg);
  right: 53px;
  top: 40px;
  border-radius: 7px;
  z-index: 10;
}

.front::before{
  content: "";
  display: block;
  width: 25px;
  height: 6px;
  background: #434b59;
  border-radius: 5px;
  transform: rotateZ(30deg);
  left: -18px;
  top: -7px;
  position: relative;

}

.front::after{
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #434b59;
  position: absolute;
  border-radius: 50%;
  top: -5px;
}

.back{
  position: absolute;
  width: 120px;
  box-sizing: content-box;
  border: 10px solid #aababf;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  bottom: -40px;
  left: 30px;
  z-index: 10;
}

.back::before{
  content: "";
  display: block;
  width: 75px;
  height: 13px;
  background: #aababf;
  position: absolute;
  top: 2px;
  left: 123px;
  transform-origin: 0px;
  transform: rotateZ(-70deg);
  border-radius: 0px 0px 10px 0px;
}

.back::after{
  content: "";
  display: block;
  width: 80px;
  height: 9px;
  background: transparent;
  position: absolute;
  border: 10px solid #aababf;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 0px 10px 0px 0px;
  transform: skewX(20deg);
  top: -18px;
  left: -50px;
}

.tire{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 10px;
  border-radius: 50%;
  background: #ccc;
  border: 15px solid #fff;
  box-shadow: 0px 0px 0px 10px #454d5b;
  animation: motion 0.8s linear infinite;

}
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
.tire::before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-top-color: #8450e1;
  border-radius: 50%;
  background: transparent;
  position: relative;
  top: -30px;
  left: -15px;
}

.tire::after{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid transparent;
  border-top-color: rgba(0, 0, 0, .2);
  border-radius: 50%;
  background: transparent;
  position: relative;
  top: -80px;
  left: -15px;
  z-index: 9;

}

.tire2{
  position: absolute;
  width: 50px;
  height: 50px;
  right: 5px;
  border-radius: 50%;
  background: #ccc;
  border: 15px solid #fff;
  box-shadow: 0px 0px 0px 10px #454d5b;
  animation: motion 0.8s linear infinite;

}

.tire2::before{
  content: "";
  display: block;
  width: 50px;
  height: 40px;
  border: 10px solid transparent;
  border-top-color: #8450e1;
  border-radius: 50%;
  background: transparent;
  position: relative;
  top: -30px;
  left: -20px;
  transform: rotateZ(-25deg);
}

.smoke{
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: -50px;
  animation: fly 1s infinite;
}

.smoke::before{
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000;
  position: relative;
  right: -12px;
  top: 5px;

}

@keyframes shake {
  0%, 100%{
    transform: rotateZ(0deg);
  }
  25%{
    transform: rotateZ(-5deg);
  }
  50%{
    transform: rotateZ(5deg);
  }
}


@keyframes fly {
  0%, 100%{
    opacity: 1;
  }
  35%, 100%{
    opacity: 0;
    top: 100px;
    left: -70px;
  }
  50%{
    transform: rotateZ(5deg);
  }

}

/* Estilos para el contenedor de carga */

/* Contenedor de la barra de progreso */
/* Contenedor de la barra de progreso */
.progress-container {
  position: absolute; /* Permite el ajuste libre de posiciones */
  top: 520px;         /* Cambia este valor para mover la barra en el eje Y */
  left: 50%;          /* Centra la barra en el eje X */
  transform: translateX(-50%); /* Ajusta para que esté centrada horizontalmente */
}

/* Estilos de la barra de progreso */
.progress {
  background-color: #ffffff;
  width: 275px;
  height: 20px;
  border-radius: 100px;
  overflow: hidden;
  backface-visibility: hidden;
  position: relative;
}
.label-container {
  position: absolute;
  top: 160px;
  left: -10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #454d5b;
  font-weight: bold;
  animation: bit 0.6s alternate infinite;
}

.inner {
  background-image: linear-gradient(to left, #000000, #1c1c1c, #383838, #555555, #717171, #8d8d8d, #aaaaaa, #c6c6c6, #e2e2e2, #ffffff);
  height: 100%;
  transform-origin: left;
  animation: progress 10s infinite;
}

/* Animación de la barra de progreso */
@keyframes progress {
  0% {
    transform: scaleX(10%) translateX(-10%);
  }

  100% {
    transform: scaleX(80%) translateX(150%);
  }
}

@keyframes bit {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}



/* Estilos del poste de la lámpara */
/* Estilos del poste de la lámpara */
.lamp-post {
  position: absolute;
  top: -80px;
  left: 250px;
  height: 200px;
  animation: moveLamp 1.4s linear infinite;
  z-index: 2;
}


@keyframes moveLamp {
  0% {
    left: 100%;  /* Inicia en el borde derecho */
  }
  100% {
    left: -100px; /* Se desplaza hacia la izquierda y desaparece */
  }
}

/* Estilos para la carretera */



.road {
  width: 100%;
  height: 5px;
  background-color: #454d5b;
  position: relative;
  bottom: -60px;
  left: -60px;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 100%;
  background-color: #454d5b;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #454d5b;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px); /* Comienza en la posición original */
  }
  100% {
    transform: translateX(-350px); /* Se mueve hacia la izquierda */
  }
}



