<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="bike.component.css">
  <title>Bike - CampusRide</title>
</head>
<body>
  <div class="container">
    <div class="bike-body">
      <div class="seat"></div>
      <div class="cover"></div>
      <div class="lamp"></div>

      <!-- Aquí comienza el div motor -->
      <div class="motor">
        <div class="part-1">
          <div class="part-1-top"></div>
          <div class="part-1-bottom"></div>
        </div> <!-- Cierre de part-1 -->

        <div class="part-2">
          <div class="part-2-base">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div> <!-- Cierre de part-2-base -->
        </div> <!-- Cierre de part-2 -->
      </div> <!-- Cierre del div motor -->

      <!-- Partes frontales y traseras -->
      <div class="front"></div>
      <div class="back"></div>
    </div> <!-- Cierre del div bike-body -->

    <!-- Neumáticos -->
    <div class="tire"></div>
    <div class="tire2"></div>

    <!-- Humo -->
    <div class="smoke"></div>
    <





  </div> <!-- Cierre del div container -->


  <div class="label-container">
    <label>Loading</label>
  </div>
  <!--
  <div class="progress-container">
      <div class="progress">
          <div class="inner"></div>
      </div>
  </div>
  -->






</body>
</html>
