/* Estilo del encabezado */
.header {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

/* Alineación de los elementos del encabezado */
.header-left, .header-right {
  display: flex;
  align-items: center;
}

/* Estilo del logotipo */
.header-logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  margin-right: 20px;
}

/* Elementos del encabezado */
.header-content {
  display: flex;
  gap: 20px;
}

/* Texto de los elementos del encabezado */
.header-item {
  color: #080606;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.header-right {
  gap: 20px; /* Añade espacio entre "Iniciar sesión" y "Registrarse" */
}
/* Estilo para el botón de "Registrarse" */
.header-right .login-text {
  background: #355ADE;
  padding: 5px 15px;
  border-radius: 50px;
  color: rgb(255, 255, 255);  /* Cambiado a rojo como solicitado */
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}


.header-right .login-text:hover {
  background: #292929;

}

.header-right .login-text2 {
  background: #ffffff;
  color: #080606;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}


.header-right .login-text2:hover {
  background: #292929;
  color: #ffffff;

}

.header-left .header-content .header-item .login-text2 {
  background: #ffffff;
  color: #080606;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-left .header-content .header-item .login-text2:hover {
  background: #292929;
  color: #ffffff;
}


.error {
  color: red;
  font-size: 12px;
}
