body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: flex-end; /* Alinea el contenedor a la derecha */
  align-items: center;      /* Centra verticalmente el contenedor */
  background-color: #cdbef1; /* Fondo opcional */
}

.map-container {
  width: 700px;            /* Ancho del contenedor */
  height: 500px;           /* Alto del contenedor */
  background-color: #ffffff; /* Color de fondo del contenedor */
 /* Sombra opcional */
  border-radius: 8px;      /* Bordes redondeados opcionales */
     /* Espaciado desde el borde derecho */
}
