<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="registro.component.css">
</head>
<body>
    <div class="header">
        <div class="header-content">
          <div class="header-item">
            <div class="header-text">Productos</div>
          </div>
          <div class="header-item">
            <div class="header-text">Empresa</div>
          </div>
          <div class="header-item">
            <div class="header-text">Precios</div>
          </div>
          <div class="header-item">
            <div class="header-text">Comunidad</div>
          </div>
          <div class="header-item">
            <div class="header-text">Quienes somos</div>
          </div>
          <div class="header-item login-text">
            <div class="header-text">Registrate</div>
          </div>
        </div>
      </div>

      <div>
        <!-- Contenedor del formulario -->
        <div class="login-box">
            <div class="title">CAMPUSRIDE</div>
            <form class="form-container">
                
                    <div>
                        <div class="form-group">
                            <label for="primerNombre">Primer nombre:</label>
                            <input type="text" id="primerNombre" name="primerNombre" placeholder="Introduce tu nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="Correo">Correo:</label>
                            <input type="email" id="Correo" name="Correo" placeholder="info@xyz.com" required>
                        </div>
                        <div class="form-group">
                            <label for="Direccion">Dirección:</label>
                            <input type="text" id="Direccion" name="Direccion" required>
                        </div>
                        <div class="form-group">
                            <label for="contrasena">Contraseña:</label>
                            <input type="password" id="contrasena" name="contrasena" placeholder="xxxxxxxxxx" required>
                        </div>
                        <div class="form-group">
                            <button type="Registrar" class="btn">Registrate</button>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="Apellido">Apellido:</label>
                            <input type="text" id="Apellido" name="Apellido" placeholder="Introduce tu apellido" required>
                        </div>
                        <div class="form-group">
                            <label for="Telefono">No. Teléfono:</label>
                            <input type="tel" id="Telefono" name="Telefono" placeholder="+57 - 315 564 7526" required>
                        </div>
                        <div class="form-group">
                            <label for="fechaNacimiento">Fecha de nacimiento:</label>
                            <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
                        </div>
                        <div class="form-group">
                            <label for="confPassword">Confirmar Contraseña:</label>
                            <input type="password" id="confPassword" name="confPassword" placeholder="xxxxxxxxxx" required>
                        </div>
                    </div>
                    
            </form>
            <br>
            <p>¿Ya tienes una cuenta? <a href="#">Iniciar sesión</a></p>
        </div>
    
        <!-- Contenedor de la imagen -->
        <div class="imagen-container">
            <img src="assets\images\Captura desde 2024-09-14 20-31-04.png" alt="CampusRide">
        </div>
    </div>  
</body>
</html>

